<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-5 text-decoration-underline">Listado de tipocomentario</h1>
      <div class="col-md text-end d-flex justify-content-center align-items-center mb-3 ">
        <a [routerLink]="['/admin/tipocomentario/new']" class="btn btn-success mx-3">Añadir tipocomentario</a>
        <app-search-unrouted [placeHolder]="'Buscar tipocomentario'" (onSearch)="setFilter( $event )"></app-search-unrouted>
        <app-dropdown-register-page class="mx-2" [PageSize]="responseFromServer?.numberOfElements"
        (eeRpp)="this.setRpp($event)">
      </app-dropdown-register-page>
      </div>
      <div class="col-md d-flex">
        <app-pagination-unrouted [nPage]="responseFromServer?.number + 1" [nTotalPages]="responseFromServer?.totalPages"
          (eePage)="setPage($event)"></app-pagination-unrouted>
      </div>
      <div class="col-md text-end">
        <h5 class="text-muted">Total de registros en la consulta {{responseFromServer?.totalElements}}</h5>
      </div>
      <table class="table table-bordered table-striped table-hover col-4 mx-auto text-center">
        <thead  style="background-color: #6d5dfc; color: white;">
          <tr>
            <th (click)="setOrder('id')" >ID
              <span *ngIf="sortField=='id'&&sortDirection=='asc'">🔼</span>
              <span *ngIf="sortField=='id'&&sortDirection=='desc'">🔽</span>
            </th>
            <th (click)="setOrder('tipo')">Tipo
              <span *ngIf="sortField=='tipo'&&sortDirection=='asc'">🔼</span>
              <span *ngIf="sortField=='tipo'&&sortDirection=='desc'">🔽</span>
            </th>
            <th>Comentarios</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tipocomentario of responseFromServer?.content">
            <td>{{tipocomentario.id}} </td>
            <td>{{tipocomentario.tipo}}</td>
            <td><button class="btn-sm" [routerLink]="['/admin','comentario','plist','tipocomentario',tipocomentario.id]"
              [disabled]="tipocomentario.comentarios<=0 ">{{tipocomentario.comentarios}}</button></td>
            <td>
              <div class="btn-group "  role="group" aria-label="Herramientas">
                <button class="btn btn-sm btn-info" [routerLink]="['/admin/tipocomentario/view',tipocomentario.id]">
                  <i class="bi bi-eye-fill"></i>
                </button>
                <button class="btn btn-sm btn-secondary" [routerLink]="['/admin/tipocomentario/edit',tipocomentario.id]">
                  <i class="bi bi-pencil-fill"></i>
                </button>
                <button class="btn btn-sm btn-danger" [routerLink]="['/admin/tipocomentario/remove',tipocomentario.id]">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
