    <div style="display: flex; justify-content: center; height: 100vh; padding-top: 60px;">
      <div >

        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
          <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            <h1><a href="https://github.com/helmets7?tab=repositories"><img src="/assets/curprodemymorado.png" style="width: 350px;"></a></h1>
          </div>
          <div class="formbg-outer">
            <div class="formbg">
              <div class="formbg-inner padding-horizontal--48">
                <span class="padding-bottom--15" style="font-weight: 700;">Inicio de sesión</span>

                <form id="stripe-login" [formGroup]="oFormularioLogin" (ngSubmit)="login()">

                  <div class="field padding-bottom--24">

                    <label class="form-label" for="nickname">Nickname</label>
                    <input type="text" id="nickname"  name="nickname" formControlName="nickname">

                  </div>

                  <div class="field padding-bottom--24">

                    <div class="grid--50-50">
                      <label class="form-label" for="pass">Password</label>
                    </div>
                    <input type="password" id="pass" class="form-control" name="pass" formControlName="pass">

                  </div>

                  <button class="button button__primary" (click)="login()"><p>Iniciar sesión</p></button>

                  <br>

                  <div class="field">
                    <a class="ssolink" (click)="loginVisitor('visitor', 'cuprodemy')">Continuar como invitado</a>
                  </div>

                  <br>
                  <p class="center link">Sepa que al iniciar sesión está confirmando nuestros <u style="color: blue; cursor: pointer;" (click)="openModal()">Términos y Condiciones</u></p>

                </form>
              </div>
            </div>
            <div class="footer-link padding-top--24">
              <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
                <span><a href="https://github.com/helmets7/cuprodemy">© Cuprodemy</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>




    </div>

    <div class="modal fade" id="suscribeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Información</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Términos y Condiciones</p>
            <p>AVISO DE COOKIES Utilizamos cookies para asegurarnos de brindarte la mejor experiencia en nuestro sitio web. Al continuar utilizando nuestro sitio, aceptas nuestro uso de cookies.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
