    <div style="display: flex; justify-content: center; height: 100vh; padding-top: 60px;">
      <div >

        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
          <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
            <h1><a href="https://github.com/helmets7?tab=repositories"><img src="/assets/curprodemymorado.png" style="width: 350px;"></a></h1>
          </div>
          <div class="formbg-outer">
            <div class="formbg">
              <div class="formbg-inner padding-horizontal--48">
                <span class="padding-bottom--15" style="font-weight: 700;">Inicio de sesión</span>

                <form id="stripe-login" [formGroup]="oFormularioLogin" (ngSubmit)="login()">

                  <div class="field padding-bottom--24">

                    <label class="form-label" for="nickname">Nickname</label>
                    <input type="text" id="nickname"  name="nickname" formControlName="nickname">

                  </div>

                  <div class="field padding-bottom--24">

                    <div class="grid--50-50">
                      <label class="form-label" for="pass">Password</label>
                    </div>
                    <input type="password" id="pass" class="form-control" name="pass" formControlName="pass">

                  </div>

                  <button class="button button__primary" (click)="login()"><p>Iniciar sesión</p></button>

                  <br>

                  <div class="field">
                    <a class="ssolink" href="#" (click)="loginVisitor('visitor', 'cuprodemy')">Continuar como invitado</a>
                  </div>

                </form>
              </div>
            </div>
            <div class="footer-link padding-top--24">
              <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
                <span><a href="#">© Cuprodemy</a></span>
                <span><a href="#">Contact</a></span>
                <span><a href="#">Privacy & terms</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
