.modalbg {
  margin: 0px auto;
  width: 100%;
  max-width: 448px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;

  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  margin: auto;
  width: 200px;
  height: 45px;
  border-radius: 8px;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.button p{
  color: white;
}



.button__cancel {
  grid-column: 0.5;
  grid-row: 0.8;
  background: #FF8E9E;
  box-shadow: inset 0.2rem 0.2rem 1rem #FF8E9E, inset -0.2rem -0.2rem 1rem #FF597B, 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
  color: #050505;
}
.button__cancel:hover {
  color: #050505;
}
.button__cancel:active {
  box-shadow: inset 0.2rem 0.2rem 1rem #FF597B, inset -0.2rem -0.2rem 1rem #FF8E9E;
}


.button__exit {
  grid-column: 0.5;
  grid-row: 0.8;
  background: #00FFAB;
  box-shadow: inset 0.2rem 0.2rem 1rem #00FFAB, inset -0.2rem -0.2rem 1rem #14C38E, 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
  color: #050505;
}
.button__exit:hover {
  color: #050505;
}
.button__exit:active {
  box-shadow: inset 0.2rem 0.2rem 1rem #14C38E, inset -0.2rem -0.2rem 1rem #B8F1B0;
}


