<div class="container mt-5">
  <div class="row  justify-content-center">
    <div class="col-6">
      <div class="modalbg">
        <div class="card-body">
          <h5 class="card-title">Necesita iniciar sesión para poder acceder a los cursos</h5>
          <br>
          <div class="text-center">
            <div class="text-center" style="display: flex; gap: 16px;">
            <a href="#" class="button button__cancel" routerLink="/home">Seguir navegando</a>
            <a href="#" class="button button__exit" (click)="irLogin()">Iniciar sesión</a>
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

