<table class="table table-bordered table-striped">
  <tbody>

      <tr>
          <th style="background-color: #6d5dfc; color: white;">Id</th>
          <td>{{oCurso?.id}}</td>
      </tr>
      <tr>
        <th style="background-color: #6d5dfc; color: white;">Nombre</th>
        <td>{{oCurso?.nombre}}</td>
    </tr>
      <tr>
        <th style="background-color: #6d5dfc; color: white;">Descripción</th>
        <td>{{oCurso?.descripcion}}</td>
    </tr>
      <tr>
          <th style="background-color: #6d5dfc; color: white;">Miniatura</th>
          <td>{{oCurso?.miniatura}}</td>
      </tr>
      <tr>
          <th style="background-color: #6d5dfc; color: white;">VideoUrl</th>
          <td>{{oCurso?.videoUrl}}</td>
      </tr>
      <tr>
          <th style="background-color: #6d5dfc; color: white;">Duración</th>
          <td>{{oCurso?.duracion}}</td>
      </tr>
  </tbody>
</table>
