<table class="table table-bordered table-striped">
  <tbody>

      <tr>
          <th style="background-color: #6d5dfc; color: white;">Id</th>
          <td>{{oLeccion?.id}}</td>
      </tr>
      <tr>
        <th style="background-color: #6d5dfc; color: white;">Descripción</th>
        <td>{{oLeccion?.descripcion}}</td>
    </tr>
      <tr>
        <th style="background-color: #6d5dfc; color: white;">Recurso</th>
        <td>{{oLeccion?.recurso}}</td>
    </tr>
      <tr>
          <th style="background-color: #6d5dfc; color: white;">Orden</th>
          <td>{{oLeccion?.orden}}</td>
      </tr>
  </tbody>
</table>
